{% extends 'mail/base.html'%}
{% load my_tags %}
{% block content %}

количество рассылок {{ count_mailing }}
количество активных рассылок {{ count_active }}
количество уникальных клиентов для рассылок {{ count_client }}

{% for blog in blog_list %}
<div class="container">

    <div class="row">
        <div class="col-5"></div>
        <p></p>
        <div class="col-5">
            <div class="card mb-4 box-shadow center">
                <div class="card-head">
                    {% if blog.image %}
                    <img src="{% mediapath %}{{blog.image}}" class="card-img-top">
                    {% else %}
                    <img src="{% mediapath %}plug.png" class="card-img-top">
                    {% endif %}
                    <h1 class="my-0 font-weight-normal card-title" align="center">{{ blog.title }}</h1>
                </div>
                <div class="card-body">
                    {% if blog.content < 101 %}
                    <h6>{{blog.content}}</h6>
                    {% else %}
                    <h6>{{blog.content|truncatechars:100}}</h6>
                    {% endif %}
                    <p class="text" align="right">Дата создания: {{ blog.publication}} </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}